@model List<ProjectGSO.Models.DTO.BlogDTO>

<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="section-heading" style="margin-top: 15px; margin-bottom: 20px;">
                <h5>Gaziantep Gıda Kümesi</h5>
                <h4>HAKKIMIZ<em>DA</em></h4>
                <div class="line-dec"></div>
            </div>
        </div>
        <!--Üst Banner Başlangıç-->
        <div class="about-banner wow fadeIn animated" id="top" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible;-webkit-animation-duration: 1s; -moz-animation-duration: 1s; animation-duration: 1s;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6 align-self-center">
                                <div class="left-content show-up header-text wow fadeInLeft animated" data-wow-duration="1s" data-wow-delay="1s" style="visibility: visible;-webkit-animation-duration: 1s; -moz-animation-duration: 1s; animation-duration: 1s;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            
                                            <h2 style="color: azure">Gaziantep Sanayi Odası Danışmanlığında Gıda Kümesi Gaziantep Gıda Kümesi UR-GE Projesi</h2>
                                            <p> Uzmanla Görüşün: +90342 221 09 00</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Üst Banner Bitiş-->
        
        <div class="container text-center" style="margin-top:25px">
            <div class="row">
                <div class="col">
                    <div class="section-heading">
                        <h3 style="color: #4e0c6e;font-weight: bold">GIDA KÜMESİ OLARAK GAZİANTEP'DEN DÜNYAYA HİZMET VERİYORUZ!</h3>
                        <div class="line-dec" style="width: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col">
                    <h4 style="color: #4e0c6e; font-style: italic; font-weight: bold">Misyonumuz</h4>
                    <p>Gaziantep Sanayi Odası, yasal yükümlülükleri ve sürekli gelişim anlayışı içerisinde, sürdürülebilir kalkınma ve üyelerinin rekabet gücünü arttırmak için, çeşitli hizmet ve görevleri yerine getirmeyi, çalışanlarına ve bulunduğu topluma değer katmayı görev edinmiştir.</p>
                </div>
                <div class="col">
                    <h4 style="color: #4e0c6e; font-style: italic;font-weight: bold">Vizyonumuz</h4>
                    <p>Gaziantep ilinin ve bulunduğu bölgenin ekonomik kalkınmasında öncü olan, sanayinin her alanında üyelerinin rekabet gücünü artırmayı sağlayan, sürekli gelişimin ve değişimin simgesi, sosyal sorumluluk sahibi, zenginlik yaratan bir kurum olmak.</p>
                </div>
                
            </div>
            <div class="row" style="margin-top:25px">
                <div class="col">
                    <h4 style="color: #4e0c6e; font-style: italic;font-weight: bold">Tarihçemiz</h4>
                    <p>1980’lerin sonunda Gaziantep’te Ünaldı Bölgesi, Nizip Caddesi, Küçük Sanayi Sitesi, Örnek Sanayi Sitesi ve 2 Organize Sanayi Bölgesinde, hatırı sayılır bir imalat sektörü oluşmuştu. Gaziantep sanayisinin ulaşım, altyapı, enerji ve çevre gibi sektörel sorunları da, ticaretin klasik sorunlarından ayrışmaya başlamıştı. Sorunlarla birlikte, sanayicilerin beklentileri ve ihtiyaçları da farklılaşıyordu. O zamanlar Gaziantep Ticaret ve Sanayi Odası adı ile hizmet veren kuruluş sanayicilerin uzun bir uğraşı ve çabası sonucunda Gaziantep Sanayi Odası olarak 15 Ağustos 1989 yılında 5174 sayılı Türkiye Odalar ve Borsalar Birliği Kanunu kapsamında kurulmuştur.

                        Kanunda da belirtildiği gibi GSO, üyelerinin müşterek ihtiyaçlarını karşılamak, meslekî faaliy­etlerini kolaylaştırmak, mesleğin genel menfaatlere uygun olarak gelişmesini sağlamak, mensuplarının birbirleri ve halk ile olan ilişkilerinde dürüstlüğü ve güveni hâkim kılmak üzere meslekî disiplin, ahlâk ve dayanışmayı korumak ve kanunda yazılı olan çeşitli hizmetler ile mevzuatla odalara verilen görev­leri yerine getirmek amacıyla kurulan, tüzel kişiliğe sahip kamu kurumu niteliğinde meslek kuruluşudur.

                        Gaziantep Sanayi Odası kurulduğu tarihten beri hizmet kalitesini sürekli iyileştirmeyi kendine amaç edinerek kendi kurumsal gelişimini sağlamış, kazandığı birikimlerle üyelerinin önünü açacak projeler gerçekleştirmiştir.</p>
                </div>
            </div>
        </div>
        <!--System End-->
    </div>
</div>